.navbar {
  display: flex;
  margin: 0;
  justify-content: center;

  ul {
    margin: 0;
    padding-inline-start: 0;
  }
  li {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
  }
}
